@font-face {
    font-family: "Montserrat-Thin";
    src: url("font/montserrat/Montserrat-Thin.otf") format("OpenType");
}
@font-face{
    font-family: "Montserrat-Light";
    src: url("font/montserrat/Montserrat-Light.otf") format("OpenType");
}
@font-face{
    font-family: "Montserrat-Medium";
    src: url("font/montserrat/Montserrat-Medium.otf") format("OpenType");
}
@font-face{
    font-family: "Montserrat-ThinItalic";
    src: url("font/montserrat/Montserrat-ThinItalic.otf") format("OpenType");
}


/* animazione soluzione*/
@keyframes soluzione-motion{
0%{ 
    width: 0;
    height: 0;
    color: rgba(0,0,0,0);
    border-left: 2px rgb(41, 41, 41) solid;
    

}
20%{
    height: 140px;
    width: 0;
    border-left: 10px rgb(41, 41, 41) solid;
    
}
60%{
    width: 70%;
    color: rgba(0,0,0,0);
    box-shadow: 0 0 0 0  rgba(0, 0, 0, 0);
}


100%{
    color: rgb(37, 37, 37);
    border-left: 10px rgb(41, 41, 41) solid;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.171);
    background-color: rgb(255, 240, 175);
}
}
@-webkit-keyframes flip {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
                transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
      }
      25% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
                transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateZ(0) rotateY(0);
                transform: translateZ(0) rotateY(0);
      }
    }
  @keyframes flip {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
                transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
      }
      25% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
                transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateZ(0) rotateY(0);
                transform: translateZ(0) rotateY(0);
      }
    }
    
  
    div.testo{
        opacity: 1;
        text-align: justify;
        font-size: 15px;
        color: rgb(70, 70, 70);
        background-color: rgb(255, 239, 188);
        margin: 5%;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
        border-left: 5px   rgb(253, 217, 97) solid;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.171);
    }


/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "Montserrat-Medium";
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
	padding: 0px;
    text-align: left;
     
}
td{
    
    font-family: "Montserrat-Light";
    font-size:  18px;
    padding: 5px 25px 5px 25px;
    
}

/* --------- */
html{
    overflow-x: hidden; /* fix dello scroll orizzontale che compariva a caso(?) */
}
body{
    background-color: rgb(252, 252, 252);
    overflow-x: inherit;
    width: 100%;
}

  
 @keyframes opacity_on{
     0%{
         opacity: 0;
     }
     
     100%{
         opacity: 1;
     }
 }   
 @keyframes traslazione_random{
    0%{
        color: rgba(255, 255, 255, 0);
    }
    81%{
        margin-left: 10px;
        color: rgba(255, 255, 255, 0);
        width: 175px;
    }
    100%{
        margin-left: 10px;
        color: rgb(255, 255, 255);
        width: 175px;
    }
}   
@keyframes opacity_on_spoiler{
    0%{
        color: rgb(37, 37, 37, 0);
        border: 2px rgba(37, 37, 37,0) solid;
        
    }
    100%{

        color: rgb(37, 37, 37);
        border: 2px rgb(37, 37, 37) solid;

    }}
  
img{
    max-width: 350px;
    max-height: 200px;}
img.img2{
    width:320px; 
    max-width:unset;
     max-height:unset;
     box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.256);
     animation: opacity_on 1s ease forwards;
}
img.contatore{
    opacity: 0;
    width: 1px;
    height: 1px;
}
button{
    opacity: 1;
    height: 40px;
    margin-bottom:10px;
    margin-top: 30px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    outline: none;
    font-family:  "Montserrat-Medium";
    /* animation: opacity_on 1s ease-in 1s forwards; */
    
}
button.spoiler{
    width: 120px;
    margin-right: 0px;
    color: rgb(37, 37, 37, 0);
    background-color: rgb(37, 37, 37, 0);
    border: 2px rgba(37, 37, 37,0) solid;
    /* animation: traslazione_spoiler 10s linear 1s  5s forwards; */
}
button.random{
    z-index: 20;
    width: 82px;
    margin-left: -120px;
    z-index: 5;
    background-color: rgb(255, 57, 100);
    color: white;
    /* animation: traslazione_random 10s linear 5s; */
    
}
button.random2{
    z-index: 20;
    width: 82px;
    margin-left: -120px;
    z-index: 5;
    background-color: rgb(30, 144, 210);
    color: white;
}

div.center{
    position: relative;
    text-align: center;
    align-content: center;
}
div.line{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 30px;
    align-self: center;
    height: 1px;
    border-bottom: 2px rgb(151, 151, 151) solid;
}
@keyframes intro_intestazione1{
    0%{     
    position: fixed;

        background-color: rgb(0, 0, 0);
        min-height: 100%;
        padding-top: 50%;
        color:  rgba(255, 255, 255, 0);
        border-bottom: 0px  rgb(219, 57, 93) solid;
    }
    15%{
        color: rgb(255, 255, 255);
    }
    40%{
        background-color:  rgb(219, 57, 93) ;
        min-height: 100%;
        padding-top: 50%;
    }
    75%{
        background-color: rgb(255, 57, 100);
        padding-top: 20px;
    }
    85%{   
        min-height: 54px;
        padding-top: 20px;
        color: rgb(255, 255, 255);
        border-bottom: 0px  rgb(219, 57, 93) solid;
    position: fixed;

    }
    100%{   
        min-height: 54px;
        padding-top: 20px;
        color: rgb(255, 255, 255);
        border-bottom: 20px  rgb(219, 57, 93) solid;
    position: unset;
        
    }
}
@keyframes intro_intestazione2{
    0%{     
    position: fixed;

        background-color: rgb(0, 0, 0);
        min-height: 100%;
        padding-top: 50%;
        color:  rgba(255, 255, 255, 0);
        border-bottom: 0px  rgb(74, 147, 189) solid;
    }
    15%{
        color: rgb(255, 255, 255);
    }
    40%{
        background-color:  rgb(74, 147, 189) ;
        min-height: 100%;
        padding-top: 50%;
    }
    75%{
        background-color: rgb(88, 174, 224);
        padding-top: 20px;
    }
    85%{   
        min-height: 54px;
        padding-top: 20px;
        color: rgb(255, 255, 255);
        border-bottom: 0px  rgb(74, 147, 189) solid;
        position: fixed;

    }
    100%{   
        min-height: 54px;
        padding-top: 20px;
        color: rgb(255, 255, 255);
        border-bottom: 20px  rgb(74, 147, 189) solid;
        position: unset;

    }
}
p{
    line-height: 18px;
}
p.titolo{
    line-height: unset;

    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 26px;
    font-family: "Montserrat-Light";
}
.intestazione1, .intestazione2{
    min-height: 54px;
    min-width: 100%;
    position: unset;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-top: 20px;
}
div.intestazione1{
    background-color: rgb(255, 57, 100);
    border-bottom: 20px  rgb(219, 57, 93) solid;
    animation: intro_intestazione1 3s ease forwards;   
}
div.intestazione2{
    background-color: rgb(88, 174, 224);
    border-bottom: 20px  rgb(74, 147, 189) solid;
    animation: intro_intestazione2 3s ease forwards;  
}
#div_corpo{
    opacity: 1;
    animation: opacity_on 1s ease forwards;
}

div.pie{
    background-color: rgb(43, 43, 43);
    margin: 0px -20px 0px -10px;
    padding: 10px 40px 10px 40px;
    border-top: 20px  rgb(34, 34, 34) solid;
    border-bottom: 20px   rgb(43, 43, 43) solid;
}
div.container{
    height: 200px;}
div.soluzione2{
    border-left: 5px rgb(53, 53, 53) solid;
    background-color: rgb(255, 240, 175);
    animation-name: soluzione-motion;
    animation-duration: 1500ms;
    margin: 30px auto 30px auto ;
    padding: 10px 0px 10px 0px;
    width: 70%;
    text-align: left;
    animation-fill-mode: forwards;
}
div.soluzione{
    margin: 30px auto 30px auto ;
    padding: 10px 0px 10px 0px;
    width: 70%;
    text-align: left;
    height: 40px;
    animation: opacity_on 1s ease;
}

p.credit{
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center; 
    font-family: "Montserrat-ThinItalic";
}
p.spoiler{
    
    font-size: 18px;
    text-align: center; 
    font-family:   "Montserrat-Light";
}
p.spoiler-tab{
    text-align: center;
    font-family: "Montserrat-Light";
}
h3{
    font-family: "Montserrat-Light", "Roboto";
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 20px;

}
h1{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 26px;
    font-family: "Montserrat-Thin";
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
