@font-face {
    font-family: "Montserrat-Thin";
    src: url("font/montserrat/Montserrat-Thin.otf") format("OpenType");
}
@font-face{
    font-family: "Montserrat-Light";
    src: url("font/montserrat/Montserrat-Light.otf") format("OpenType");
}
@font-face{
    font-family: "Montserrat-Medium";
    src: url("font/montserrat/Montserrat-Medium.otf") format("OpenType");
}
@font-face{
    font-family: "Montserrat-ThinItalic";
    src: url("font/montserrat/Montserrat-ThinItalic.otf") format("OpenType");
}
@keyframes intestazione-motion{
    0% {
        height: 0;
        color: rgba(0,0,0,0);
        border-bottom: 0px  rgb(74, 147, 189) solid;
    }
    40%{
        height: 92px;
        color: "#ffffff";
        border-bottom: 0px  rgb(74, 147, 189) solid;
    }
    100%{
        border-bottom: 20px  rgb(74, 147, 189) solid;
    }
}

/* animazione soluzione*/
@keyframes soluzione-motion{
0%{ 
    width: 0;
    height: 0;
    color: rgba(0,0,0,0);
    border-left: 2px rgb(41, 41, 41) solid;
    

}
20%{
    height: 140px;
    width: 0;
    border-left: 10px rgb(41, 41, 41) solid;
    
}
60%{
    width: 70%;
    color: rgba(0,0,0,0);
    box-shadow: 0 0 0 0  rgba(0, 0, 0, 0);
}


100%{
    color: rgb(37, 37, 37);
    border-left: 10px rgb(41, 41, 41) solid;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.171);
    background-color: rgb(255, 240, 175);
}
}




/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "Montserrat-Medium";
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
	padding: 0px;
    text-align: left;
     
}
td{
    
    font-family: "Montserrat-Light";
    font-size:  18px;
    padding: 5px 25px 5px 25px;
    
}

/* --------- */
html{
    overflow-x: hidden; /* fix dello scroll orizzontale che compariva a caso(?) */
}
body{
    background-color: rgb(252, 252, 252);
    overflow-x: inherit;
    width: 100%;
}

img{
    max-width: 350px;
    max-height: 200px;}

button{
    height: 40px;
    margin:10px;
    margin-top: 30px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    outline: none;
    font-family:  "Montserrat-Medium";
}
button.spoiler{
    color: rgb(37, 37, 37);
    background-color: rgb(37, 37, 37,0);
    border: 2px rgb(37, 37, 37) solid;
}
button.random{
    background-color: rgb(255, 57, 100);
    color: white;
}
button.random2{
    background-color: rgb(30, 144, 210);
    color: white;
}

div.center{
    position: relative;
    text-align: center;
    align-content: center;
}
div.line{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    align-self: center;
    height: 1px;
    border-bottom: 2px rgb(151, 151, 151) solid;
}
div.intestazione{
    background-color: rgb(255, 57, 100);
    padding: 1px;
    border-bottom: 20px  rgb(219, 57, 93) solid;
}
div.intestazione2{
    background-color: rgb(88, 174, 224);
    padding: 1px;
    border-bottom: 20px  rgb(74, 147, 189) solid;

}
div.pie{
    background-color: rgb(43, 43, 43);
    margin: 0px -20px 0px -10px;
    padding: 10px 40px 10px 40px;
    border-top: 20px  rgb(34, 34, 34) solid;
    border-bottom: 20px   rgb(43, 43, 43) solid;
}
div.container{
    height: 200px;}
div.soluzione2{
    border-left: 5px rgb(53, 53, 53) solid;
    background-color: rgb(255, 240, 175);
    animation-name: soluzione-motion;
    animation-duration: 1500ms;
    
    margin: 30px auto 30px auto ;
    padding: 10px 0px 10px 0px;
    width: 70%;
    text-align: left;
    animation-fill-mode: forwards;
}
div.soluzione{

    margin: 30px auto 30px auto ;
    padding: 10px 0px 10px 0px;
    width: 70%;
    text-align: left;
    height: 40px;
}

p.credit{
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center; 
    font-family: "Montserrat-ThinItalic";
}
p.spoiler{
    
    font-size: 18px;
    text-align: center; 
    font-family:   "Montserrat-Light";
}
p.spoiler-tab{
    text-align: center;
    font-family: "Montserrat-Light";
}
h3{
    font-family: "Montserrat-Light", "Roboto";
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 20px;

}
h1{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 26px;
    font-family: "Montserrat-Thin";
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
